%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:pois, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:pois, :new)

.tabs-content
  = form_for :poi, url(:pois, :create), :class => 'form-horizontal' do |f|
    =partial 'pois/form', :locals => { :f => f }
